form{
	border: 1px solid lightgray;
	padding:20px;
}
.mainJumbotron{
	background-image: url("assets/mainPhotoDark.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	color:white;
	min-height:500px;
	margin:auto;
	padding-top:10%;
	text-align:center;
}

.mainContent{
	margin:0;
}

.bgLight {
	background-color:rgb(237, 236, 234);
}

.bgDark{
	background-color:rgb(52, 109, 90);
}

.descriptionSection {
	padding:100px 50px 100px 50px;
	text-align:center;
}

.descriptionSection p{
	font-size:1.25em;
}

.services {
	padding: 75px 50px 75px 50px;
}

.ourHomes {
	padding: 75px 50px 75px 50px;
	color:white;
	text-align:center;
}

.ourHomes li{
	color:black;
}

.pgHeader{

	background-color:rgb(52, 109, 90);
	color:white;
	text-align:center;
	padding:5%;
	padding-top:100px;
}

.sectionHeader{
	background-color:rgb(237, 236, 234);
	color:black;
	text-align:center;
	padding:5%;
}
.cardContainer{
	padding:20px 50px 20px 50px;
	align-content:center;
}

.cardContainer .card{
	max-width:350px;
}

.testimonials{
	padding: 75px 50px 75px 50px;
	font-style:italic;
	text-align: center;
}

.insurances{
	padding: 75px 50px 75px 50px;
	text-align: center;
}
.insurances img {
	max-width:150px;
}

.footer {
	background-color:rgb(52, 109, 90);
	color:white;
	text-align:center;
	padding:10px;
}

.footer h4 {
	font-size:1em;
}

.faqAccordion{
	/*margin:50 50 50 50;
	padding: 75px 50px 75px 50px;*/
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .descriptionSection {
		padding:50px 25px 50px 25px;
  }
  .descriptionSection p{
		font-size:1em;
	}
   
}