body{
    background-color:rgb(235, 235, 235);
    padding:0% 20%;
}

.container{
    background-color:#FFFFFF;
    padding:50px;
    margin:50px;
    box-shadow: 0px 0px 10px #CCCCCC;
}

h1, h2, h3{
    color:#1d517e;
}